body {
  background-color: hsl(0, 10%, 80%);
  margin: 0;
  padding: 1rem;
}
/* .App {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", "Helvetica Neue", Arial, sans-serif;
} */
.chart {
  width: 620px;
}
/* .title {
  color: red;
}
.valueLabel {
  fill: red;
} */
